
@{
    ViewBag.Title = "SavedPerson";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model AddressBook.Models.PersonModel   

<h1>Adınız:  @Model.Name</h1>
<h1>Soyadınız:  @Model.Surname</h1>
<h1>Emailiniz:  @Model.Email</h1>
<h1>Telefon No:  @Model.PhoneNumber</h1>
<h1>Adres  @Model.Address</h1>

